<div class="jumbotron mt-5">
	<h1>Sign up for a haircut</h1>
</div>

<div class="container border p-5 rounded-sm">
	<div class="row ">
		<small class="text-muted mb-3">Complete all fields and send us, we will prepare for your visit</small>
	</div>
	
	<form action="/visit" method="post">
	  <div class="form-group">
	    <label>Your name:</label>
	    <input type="text" name="username" class="form-control" placeholder="Enter your name">
	  </div>

	  <button type="submit" class="btn btn-primary">Sign up</button>
	</form>
</div>
